.jumbotron {
  padding-top: 5rem;
  background-color: #339989;
}

#about {
  background-color: #7de2d1;
}

#project {
  background-color: #339989;
  ;

}


.navbar {
  background-color: #2b2c28;
}

.akhir {
  background-color: #2b2c28;
}

#contact {
  background-color: #7de2d1;
}